/* font-family: 'Prompt', sans-serif; */

.banner h1 {

    font-size: 50px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.sec-1 {
    background-image: url(images/cow.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    background-position: top;
    margin-top: -170px;
}

.banner p {
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 30px;
    color: white;
}

.second-banner {
    padding-top: 150px;
}

.banner a {
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}

.banner {
    text-align: left;
    width: 50%;
    height: 40%;
    margin-left: 250px;
    margin-top: 150px;
}

.text-1 h1 {
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    color: black;
}

.text-1 p {
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 30px;
    color: black;
}

.main-1 {
    display: flex;
}

.text-1 {
    width: 40%;
    margin-left: 100px;
}


.vid img {
    width: 70%;
}

.vid {
    width: 50%;
    margin-left: 100px;
}

.text-1 a {
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}