/* font-family: 'Prompt', sans-serif; */

.banner h1 {

    font-size: 50px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

.sec-1 {
    background-image: url(images/cow.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    background-position: top;
    margin-top: -170px;
}

.banner p {
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 30px;
    color: white;
}

.second-banner {
    padding-top: 150px;
}

.banner a {
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}

.banner {
    text-align: left;
    width: 50%;
    height: 40%;
    margin-left: 250px;
    margin-top: 150px;
}

.text-1 h1 {
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    color: black;
}

.text-1 p {
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 30px;
    color: black;
}

.main-1 {
    display: flex;
}

.text-1 {
    width: 40%;
    margin-left: 100px;
}


.vid img {
    width: 70%;
}

.ono h1 {
    font-size: 50px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    color: black;
}

.ono p {
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 30px;
    color: black;
}

.ono {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.first h3 {
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    color: black;
}

.first {
    width: 22%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-left: 19px;
}

.ono-2 {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #00010e;
    width: 100%;
    height: 250px;
}

.footer {
    margin-top: 100px;
}

.footer h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: 'Prompt', sans-serif;
}

.footer p {
    color: white;
    text-align: center;
    font-size: 11px;
    font-family: 'Prompt', sans-serif;
}

.first {
    padding: 0;
    margin: 20px;
}

.first img {
    width: 100%;
}

.first h3,
p {

    padding-left: 20px;
}

.first img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.first {
    border-radius: 10px;
}


.first p {
    padding-bottom: 0;
}

.first p {
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    margin-bottom: 30px;
    color: black;
}


.vid {
    width: 50%;
    margin-left: 100px;
}

.text-1 a {
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}